@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700;1,900&display=swap");
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: #01FE05;
    --color2: darkslategray;
    --color3: black;
    --color4: lightslategray;
    --color5: greenyellow;

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: #01FE05;
}
.avatar-image {
    width: 60px;

}

header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkslategray;
    padding: 20px;
}
/* 
header ul {
    width: 32%;
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color2);
    width: 800px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px black;
    box-shadow: lightslategray 10px 10px;
}


div {
    
    padding: 20px;
    margin: 20px;
    
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

a:visited {
    color: var(--color1);


}

.level {
    font-size: 25px;
    padding: 20px;
    margin: 20px;
}

.image-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 556px;
}
/* .image-box{
    height set?
} */

.avatar {
    display: flex;
    align-items: center;
    
}

.avatar img:hover{
    width: 55px;
    transition-duration: 50ms, 50ms;
    
}

.main-section {
    background-color:darkslategray;
    
    
}
#level-avatar {
    width: 150px;
    position: relative;
    left: 250px;
    top: 170px;
    margin-bottom: 20px;
   
    
}

#level-avatar.scene-animation {
    transition-property: left;
    transition-duration: 3s;
    position: relative;
    left: -14em;
    

}

.scene{
    border: 2px #01FE05 dotted;
    font-size: 1em;

}

label{
    padding: 10px;
    display: block;
    font-size: 20px;
}

.glow:hover, .glow:checked  {
    
  color: #fff;
  /* text-align: center; */
  animation: label 1s ease-in-out infinite alternate;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {     
    margin: 10px;
    padding: 5px;
    
    font-size: 20px;
    font-family: 'Press Start 2P';
    background-color: darkslategray;    
    color: #01FE05;     
    border: 2px solid #01FE05; 
    border-radius: 8px;
}

.result-image {
    background-size: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    
}

.result-message {
    margin: 20px;
}

@keyframes label {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px  #01FE05, 0 0 40px  #01FE05, 0 0 50px  #01FE05, 0 0 60px  #01FE05, 0 0 70px  #01FE05;
        }
        
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px  #01FE05, 0 0 40px  #01FE05, 0 0 50px  #01FE05, 0 0 60px  #01FE05, 0 0 70px #01FE05, 0 0 80px #01FE05;
        }
}
